* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headerimage.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headerimage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
    
}
.row img{
       margin: 20px 10px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    height: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    padding-bottom: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #ffb6c1;
    
}
/* sticky-nav */
.sticky-nav{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgb(65, 63, 63);
     box-shadow: 0 2px 2px  #efefef;
     transition: .3s ease;
     max-height: 85px;
}
/* mobile-nav */
/* .toggle{
    
    width: 100%;
    padding: 10px 20px;
    background:#000;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
    /* overflow: hidden; 
} */
.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
    padding: 8px 0;
    color: #ffffff;
    
   
}
.hero-text-box {
    
    position: absolute;
    overflow: hidden;
    display: block;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn{
    color: #fff;
}
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full.main-navl:link,
.btn-full.main-navl:visited,
input[type=submit] {
    /*background-color: #ffb6c1;*/
    border: 1px solid #e2472f;;
    color: #e2472f;;;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e2472f;;
    color: #e2472f;;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #e2472f;;
}

.btn-full.main-navl:hover,
.btn-full.main-navl:active {
    border: 1px solid #e2472f;;
    color: #fff;
    
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e2472f;;
    color: #fff;
}
.hero-text-box
{
    margin-left: 150px;
}

